<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.basvanderwilk.aslkids"
        versionCode = "10"
        version   = "2.0">

    <name>ASL Kids</name>

    <description>
    Sign Language for beginners and Baby sign language. 
    </description>

    <author href="http://asl-kids.com" email="info@asl-kids.com">
       Bas van der Wilk
    </author>

	<platform name="ios" />
	<plugin name="cc.fovea.cordova.purchase" source="npm" version="6.0.0" />

<preference name='phonegap-version' value='cli-6.5.0' />

<preference name="orientation" value="portrait" /> <!-- all: default means both landscape and portrait are enabled -->
<preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen" value="true" /> <!-- all: hides the status bar at the top of the screen -->
<preference name="webviewbounce" value="false" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
<preference name="prerendered-icon" value="true" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
<preference name="stay-in-webview" value="false" /> <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
<preference name="detect-data-types" value="false" /> <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
<preference name="exit-on-suspend" value="true" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
<preference name="show-splash-screen-spinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->    

<preference name="AllowInlineMediaPlayback" value="true" />
<preference name="MediaPlaybackRequiresUserAction" value="false"/>

<preference name="TopActivityIndicator" value="white"/>

<!-- iOS only preferences -->


<preference name="UIWebViewDecelerationSpeed" value="fast" />

<preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
<preference name="AppendUserAgent" value="My Browser" />
<preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />
<preference name="CordovaDefaultWebViewEngine" value="CDVUIWebViewEngine" />





<!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->

<plugin name="cordova-plugin-splashscreen" source="npm" />
<preference name="auto-hide-splash-screen" value="false" />
<preference name="FadeSplashScreen" value="true" />  
<preference name="FadeSplashScreenDuration" value="0.5" />
<preference name="SplashScreenBackgroundColor" value="0xFF65BCAB"/>
    

<!-- statusbar plugin en settings  -->

<plugin name="cordova-plugin-statusbar" source="npm" spec="2.4.2" />
<preference name="StatusBarOverlaysWebView" value="false" />    
<preference name="StatusBarBackgroundColor" value="#65bcab" /> 
<preference name="StatusBarStyle" value="lightcontent" />
    
    
    
<!--     
<platform name="android">
	<icon qualifier="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
	<icon qualifier="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
	<icon qualifier="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
	<icon qualifier="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
	<icon qualifier="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
	<icon qualifier="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
	<splash qualifier="land-ldpi" src="res/screens/android/drawable-land-ldpi-screen.png" />
	<splash qualifier="land-mdpi" src="res/screens/android/drawable-land-mdpi-screen.png" />
	<splash qualifier="land-hdpi" src="res/screens/android/drawable-land-hdpi-screen.png" />
	<splash qualifier="land-xhdpi" src="res/screens/android/drawable-land-xhdpi-screen.png" />
	<splash qualifier="land-xxhdpi" src="res/screens/android/drawable-land-xxhdpi-screen.png" />
	<splash qualifier="land-xxxhdpi" src="res/screens/android/drawable-land-xxxhdpi-screen.png" />
	<splash qualifier="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
	<splash qualifier="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
	<splash qualifier="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
	<splash qualifier="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
	<splash qualifier="port-xxhdpi" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
	<splash qualifier="port-xxxhdpi" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
</platform>
-->

    <!-- iPad -->
    <splash src="resources/splash/ipad-portrait.png" gap:platform="ios" width="768" height="1024"/> <!--  iPad  -->
	<!-- iPhone and iPod touch -->
    <splash src="resources/splash/320x480.png" gap:platform="ios" width="320" height="480"/> <!--   -->
    <splash src="resources/splash/640x960.png" gap:platform="ios" width="640" height="960"/> <!--   -->
    <splash src="resources/splash/1536x2048.png" gap:platform="ios" width="1536" height="2048"/> <!--   -->
	<!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="resources/splash/640x1136.png" gap:platform="ios" width="640" height="1136"/> <!--   -->
	<!-- iPhone 6 -->
    <splash src="resources/splash/750x1334.png" gap:platform="ios" width="750" height="1334"/> <!-- iPhone 6 plus  -->
    <splash src="resources/splash/1242x2208.png" gap:platform="ios" width="1242" height="2208"/> <!-- iPhone 6 plus  -->
    
<platform name="ios">
	<icon height="20" platform="ios" src="resources/icons/Icon-20@2x.png" width="20" />
	<icon height="20" platform="ios" src="resources/icons/Icon-20@3x.png" width="20" />
	<icon height="29" platform="ios" src="resources/icons/Icon-29@2x.png" width="29" />
	<icon height="29" platform="ios" src="resources/icons/Icon-29@3x.png" width="29" />
	<icon height="40" platform="ios" src="resources/icons/Icon-40@2x.png" width="40" />
	<icon height="40" platform="ios" src="resources/icons/Icon-40@3x.png" width="40" />
	<icon height="60" platform="ios" src="resources/icons/Icon-60@2x.png" width="60" />
	<icon height="60" platform="ios" src="resources/icons/Icon-60@3x.png" width="60" />
	<icon height="20" platform="ios" src="resources/icons/Icon-20.png" width="20" />
	<icon height="20" platform="ios" src="resources/icons/Icon-20@2x.png" width="20" />
	<icon height="29" platform="ios" src="resources/icons/Icon-29.png" width="29" />
	<icon height="29" platform="ios" src="resources/icons/Icon-29@2x.png" width="29" />
	<icon height="40" platform="ios" src="resources/icons/Icon-40.png" width="40" />
	<icon height="40" platform="ios" src="resources/icons/Icon-40@2x.png" width="40" />
	<icon height="76" platform="ios" src="resources/icons/Icon-76.png" width="76" />
	<icon height="76" platform="ios" src="resources/icons/Icon-76@2x.png" width="76" />
	<icon height="83.5" platform="ios" src="resources/icons/Icon-83_5@2x.png" width="83.5" />
	<icon height="1024" platform="ios" src="resources/icons/ios-marketing.png" width="1024" />	
	<icon height="1024" platform="ios" src="resources/icons/Icon-App-1024x1024.png" width="1024" />
	<icon height="120" platform="ios" src="resources/icons/Icon-App-60x60@2x.png" width="120" />
	<icon height="167" platform="ios" src="resources/icons/Icon-App-83.5x83.5@2x.png" width="167" />
	<icon height="152" platform="ios" src="resources/icons/Icon-App-76x76@2x.png" width="152" />
	
	
</platform>    
    
    <access origin="*"/> <!-- allow local pages -->

</widget>