<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.basvanderwilk.aslkids"
        versionCode = "10"
        version   = "2.0">

    <name>ASL Kids</name>

    <description>
    Sign Language for beginners and Baby sign language. 
    </description>

    <author href="http://asl-kids.com" email="info@asl-kids.com">
       Bas van der Wilk
    </author>

	<platform name="ios" />
	<plugin name="cc.fovea.cordova.purchase" source="npm" version="6.0.0" />

<preference name='phonegap-version' value='cli-6.5.0' />

<preference name="orientation" value="portrait" /> <!-- all: default means both landscape and portrait are enabled -->
<preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen" value="true" /> <!-- all: hides the status bar at the top of the screen -->
<preference name="webviewbounce" value="false" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
<preference name="prerendered-icon" value="true" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
<preference name="stay-in-webview" value="false" /> <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
<preference name="detect-data-types" value="false" /> <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
<preference name="exit-on-suspend" value="true" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
<preference name="show-splash-screen-spinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->    

<preference name="AllowInlineMediaPlayback" value="true" />


<!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->

<plugin name="cordova-plugin-splashscreen" source="npm" />
<preference name="auto-hide-splash-screen" value="false" />
<preference name="FadeSplashScreen" value="true" />  
<preference name="FadeSplashScreenDuration" value="0.5" />
<preference name="SplashScreenBackgroundColor" value="0xFF65BCAB"/>
    

<!-- statusbar plugin en settings  -->

<plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />
<preference name="StatusBarOverlaysWebView" value="false" />    
<preference name="StatusBarBackgroundColor" value="#65bcab" />
<preference name="StatusBarStyle" value="lightcontent" />
    
    
    
<!--     
<platform name="android">
	<icon qualifier="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
	<icon qualifier="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
	<icon qualifier="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
	<icon qualifier="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
	<icon qualifier="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
	<icon qualifier="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
	<splash qualifier="land-ldpi" src="res/screens/android/drawable-land-ldpi-screen.png" />
	<splash qualifier="land-mdpi" src="res/screens/android/drawable-land-mdpi-screen.png" />
	<splash qualifier="land-hdpi" src="res/screens/android/drawable-land-hdpi-screen.png" />
	<splash qualifier="land-xhdpi" src="res/screens/android/drawable-land-xhdpi-screen.png" />
	<splash qualifier="land-xxhdpi" src="res/screens/android/drawable-land-xxhdpi-screen.png" />
	<splash qualifier="land-xxxhdpi" src="res/screens/android/drawable-land-xxxhdpi-screen.png" />
	<splash qualifier="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
	<splash qualifier="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
	<splash qualifier="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
	<splash qualifier="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
	<splash qualifier="port-xxhdpi" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
	<splash qualifier="port-xxxhdpi" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
</platform>
-->

    <!-- iPad -->
    <splash src="resources/splash/ipad-portrait.png" gap:platform="ios" width="768" height="1024"/> <!--  iPad  -->
	<!-- iPhone and iPod touch -->
    <splash src="resources/splash/320x480.png" gap:platform="ios" width="320" height="480"/> <!--   -->
    <splash src="resources/splash/640x960.png" gap:platform="ios" width="640" height="960"/> <!--   -->
    <splash src="resources/splash/1536x2048.png" gap:platform="ios" width="1536" height="2048"/> <!--   -->
	<!-- iPhone 5 / iPod Touch (5th Generation) -->
    <splash src="resources/splash/640x1136.png" gap:platform="ios" width="640" height="1136"/> <!--   -->
	<!-- iPhone 6 -->
    <splash src="resources/splash/750x1334.png" gap:platform="ios" width="750" height="1334"/> <!-- iPhone 6 plus  -->
    <splash src="resources/splash/1242x2208.png" gap:platform="ios" width="1242" height="2208"/> <!-- iPhone 6 plus  -->
    
<platform name="ios">
	<icon height="57" platform="ios" src="resources/icons/icon.png" width="57" />
	<icon height="114" platform="ios" src="resources/icons/icon@2x.png" width="114" />
	<icon height="40" platform="ios" src="resources/icons/icon-40.png" width="40" />
	<icon height="80" platform="ios" src="resources/icons/icon-40@2x.png" width="80" />
	<icon height="50" platform="ios" src="resources/icons/icon-50.png" width="50" />
	<icon height="100" platform="ios" src="resources/icons/icon-50@2x.png" width="100" />
	<icon height="60" platform="ios" src="resources/icons/icon-60.png" width="60" />
	<icon height="120" platform="ios" src="resources/icons/icon-60@2x.png" width="120" />
	<icon height="180" platform="ios" src="resources/icons/icon-60@3x.png" width="180" />
	<icon height="72" platform="ios" src="resources/icons/icon-72.png" width="72" />
	<icon height="144" platform="ios" src="resources/icons/icon-72@2x.png" width="144" />
	<icon height="76" platform="ios" src="resources/icons/icon-76.png" width="76" />
	<icon height="152" platform="ios" src="resources/icons/icon-76@2x.png" width="152" />
	<icon height="29" platform="ios" src="resources/icons/icon-small.png" width="29" />
	<icon height="58" platform="ios" src="resources/icons/icon-small@2x.png" width="58" />
	<icon height="87" platform="ios" src="resources/icons/icon-small@3x.png" width="87" />
	<splash height="1136" platform="ios" src="resources/icons/Default-568h@2x~iphone.png" width="640" />
	<splash height="1334" platform="ios" src="resources/icons/Default-667h.png" width="750" />
	<splash height="2208" platform="ios" src="resources/icons/Default-736h.png" width="1242" />
	<splash height="1242" platform="ios" src="resources/icons/Default-Landscape-736h.png" width="2208" />
	<splash height="1536" platform="ios" src="resources/icons/Default-Landscape@2x~ipad.png" width="2048" />
	<splash height="768" platform="ios" src="resources/icons/Default-Landscape~ipad.png" width="1024" />
	<splash height="2048" platform="ios" src="resources/icons/Default-Portrait@2x~ipad.png" width="1536" />
	<splash height="1024" platform="ios" src="resources/icons/Default-Portrait~ipad.png" width="768" />
	<splash height="960" platform="ios" src="resources/icons/Default@2x~iphone.png" width="640" />
	<splash height="480" platform="ios" src="resources/icons/Default~iphone.png" width="320" />
</platform>    
    
    <access origin="*"/> <!-- allow local pages -->

</widget>