<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.basvanderwilk.aslkids"
        versionCode = "10"
        version   = "1.1.0">

    <name>ASL kids</name>

    <description>
       Learn ASL in a fun way
    </description>

    <author href="http://asl-kids.com" email="info@asl-kids.com">
       Bas van der Wilk
    </author>

	<gap:platform name="ios" />
 
<!--
If you do not want any permissions to be added to your app, add the
following tag to your config.xml; you will still have the INTERNET
permission on your app, which PhoneGap requires.
-->
<preference name="permissions" value="none"/>
<!-- Customize your app and platform with the preference element. -->
<preference name="phonegap-version" value="3.7.0" /> <!-- all: current version of PhoneGap -->
<preference name="orientation" value="portrait" /> <!-- all: default means both landscape and portrait are enabled -->
<preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen" value="true" /> <!-- all: hides the status bar at the top of the screen -->
<preference name="webviewbounce" value="true" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
<preference name="prerendered-icon" value="true" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
<preference name="stay-in-webview" value="false" /> <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
<preference name="detect-data-types" value="false" /> <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
<preference name="exit-on-suspend" value="true" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
<preference name="show-splash-screen-spinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->

<!-- inapppurchase iOS plugin -->
<gap:plugin name="cc.fovea.plugins.inapppurchase" version="3.4.0" />

<preference name="AllowInlineMediaPlayback" value="true" />

<!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
<gap:plugin name="org.apache.cordova.splashscreen" />
<preference name="auto-hide-splash-screen" value="true" /> 

<!-- statusbar plugin en settings -->
<gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
<preference name="StatusBarOverlaysWebView" value="true" />
<preference name="StatusBarBackgroundColor" value="#65bcab" />
<preference name="StatusBarStyle" value="lightcontent" />

	<!-- iOS7+ -->
	<!-- iPhone 6 / 6+ -->
	<icon src="resources/icons/icons-180.png" gap:platform="ios" width="180" height="180" />

	<!-- iPhone / iPod Touch  -->
	<icon src="resources/icons/icons-60.png" gap:platform="ios" width="60" height="60" />
	<icon src="resources/icons/icons-120.png" gap:platform="ios" width="120" height="120" />

	<!-- iPad -->
    <icon src="resources/icons/icons-76.png"       gap:platform="ios"	width="76" height="76" />
    <icon src="resources/icons/icons-152.png"      gap:platform="ios"	width="152" height="152" /> 

	<!-- Settings Icon -->
	<icon src="resources/icons/icons-29.png"       gap:platform="ios"	width="29" height="29" />
	<icon src="resources/icons/icons-58.png" gap:platform="ios" width="58" height="58" />

	<!-- Spotlight Icon -->
    <icon src="resources/icons/icons-40.png"       gap:platform="ios"	width="40" height="40" />
    <icon src="resources/icons/icons-80.png"       gap:platform="ios"	width="80" height="80" />

	<!-- iOS 6.1 -->
	<!-- iPhone / iPod Touch-->
    <icon src="resources/icons/icon.png"			gap:platform="ios"	width="57" height="57" />
    <!-- iPad -->
    <icon src="resources/icons/icons-72.png"       gap:platform="ios"	width="72" height="72" />

    
    
    <!-- iPad -->
    <gap:splash src="resources/icons/ipad-portrait.png" gap:platform="ios" width="768" height="1024"/> <!--  iPad  -->
	<!-- iPhone and iPod touch -->
    <gap:splash src="resources/icons/320x480.png" gap:platform="ios" width="320" height="480"/> <!--   -->
    <gap:splash src="resources/icons/640x960.png" gap:platform="ios" width="640" height="960"/> <!--   -->
    <gap:splash src="resources/icons/1536x2048.png" gap:platform="ios" width="1536" height="2048"/> <!--   -->
	<!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="resources/icons/640x1136.png" gap:platform="ios" width="640" height="1136"/> <!--   -->
	<!-- iPhone 6 -->
    <gap:splash src="resources/icons/750x1334.png" gap:platform="ios" width="750" height="1334"/> <!-- iPhone 6 plus  -->
    <gap:splash src="resources/icons/1242x2208.png" gap:platform="ios" width="1242" height="2208"/> <!-- iPhone 6 plus  -->


    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->

</widget>
