$base-color: #65bcab;
$include-pictos-font: false;
$include-default-icons: false;
$include-highlights: false;
$base-gradient: none;
$basic-slider: false; //stond op true
$body-bg-color: #fff;
$list-pressed-color: none;
$loading-spinner-color: #62a4a2;

$experimental-support-for-mozilla : false;
$experimental-support-for-webkit : false;
$support-for-original-webkit-gradients : false;
$experimental-support-for-opera : false;
$experimental-support-for-microsoft : false;
$experimental-support-for-khtml : false;

// exclude components that app is not using
@import 'sencha-touch/default';
@import 'sencha-touch/default/src/tab/Panel';


@font-face {
  font-family: 'Handlee';
  src: url('../fonts/Handlee-Regular.ttf')
}
  
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf')
  }  
  
.again, h3, .quizTitle, .resulttext, .audioButton, .menu-hint, .x-msgbox-text, .menu-abc, .x-list .x-list-item, .x-dataview-item, .x-list-header, .parentalgate, .x-button-label, .x-badge, .catitemtitle  {
  font-family: 'Handlee', Helvetica Neue;
  color: #fff !important;
}


body {
  background-color: #fff
}

//--------------------------------------------- Hardware Acceleration Trick -----------------------------------------
.viewport-inner {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s;
}

//--------------------------------------------- MASK -----------------------------------------

.x-mask {
//background: #65bcab;
//-webkit-animation: fadein 0.3s ease-in !important;
}
.x-mask .x-mask-inner, .x-mask .x-mask-outer {
  background: none;
}

.x-mask .x-mask-message {
  color:#fff;
}

.masklist {
background-image: url('../images/fingerspellingbg.svg') !important;
background-size: auto 100% !important;
z-index:600 !important;
}
//-------------------------------------------- MENU -------------------------------------------

#nav-menu {
  background-color: #E56072;
  background-image: url('../images/navback.svg') !important;
  background-repeat: no-repeat !important;
  color: #fff;
  padding: 0 0 0 20px;
  z-index: 0;
}


 .x-list .x-list-item.x-item-pressed {
  background-color: transparent !important;
// border: 1px dashed rgba(255, 255, 255, 0.40) !important;
 }

 .x-list .x-list-item.x-item-selected .x-dock-horizontal {
 background-color: transparent !important;
// border: 1px dashed rgba(255, 255, 255, 0.40) !important;
 }

 .x-list .x-list-item.x-item-selected.x-list-item-tpl {
 background-color: transparent !important;
// border: 1px dashed rgba(255, 255, 255, 0.40) !important;
 }

.menu-icon-big1 {
    font-size: 60px;
    margin: 30px 0 0 0;
    font-family: 'icomoon';
    width: 100px;
    line-height: 70px;
    color: #fff !important;
}

.menu-icon-big {
    font-size: 60px;
    margin: 15px 0 0;
    font-family: 'icomoon';
    width: 100px;
    line-height: 70px;
    color: #fff !important;
}

.menu-icon-small {
  font-size: 30px;
  font-family: 'icomoon';
  width:50px;
  color: #fff !important
}

.menu-abc {
  font-size: 30px;
  margin: 0;
  width:100px;
  color: #fff !important
}

#nav-menu .x-list .x-list-item {
 margin: 0px 0 50px 0;
  width: auto;
  height: auto;
border: 0px solid transparent !important;
}


//-------------------------------------------- Hmme -------------------------------------------

.homescreen {
background-color: #65bcab !important;
background-image: url('../images/girl.svg'), url('../images/stars-background.svg') !important;
background-position: center center, center top !important;
background-repeat: no-repeat !important
}
  
//-------------------------------------------- list ------------------------------------------- 
.x-scroll-bar-y.active {
  width: 0px; /*CHANGE: replace width: 6px;*/
}

.gebarenview {
  background-color: #99dddb;
  background-image: url('../images/signoverviewback.svg') !important;
  background-size: auto 100% !important;
}

.catitemtitle {
  background-color: #99dddb;
  margin: 20px 0 0 0;
  font-size: 22px;
}

.x-toolbar {
    border-radius: 0 !important;
background-color: transparent !important;
  }

.gebarencat .x-dataview-item {
    width: 80%;
    height: 100px;
    margin: 15px 0 5px 0;
    background-color: rgba(186, 228, 226, 0.32);
    font-size: 20px !important;
    line-height: 100px !important;
    display: inline-block;
}



.gebarencat .x-dataview-item img {
    width: 50%;
    height: 100px;
    float: left;
    margin: 0 -25px 0 20px;   
}

.x-layout-card-item {
   background: none; 
}

.arrow_left {
    background-image: url('../images/previous.svg') !important;
  background-size: 58px;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
 height: 60px;
   width: 60px;
   margin:5px 10px;
}

.x-list .x-list-header {
position: absolute;
left: 0;
width: 100%;
z-index: 2 !important;
background-color: #99dddb;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
font-weight: normal;
color: white;
margin: 20px 0;
padding: 5px;
font-size: 20px;
}

.gebarendetail {
 background-color: #64bba9 !important;
 background-image: url('../images/textballoon.svg'), url('../images/rainbow.svg') !important;
 background-position: center 15px, center bottom !important;
background-repeat: no-repeat !important
}

.listdetailimage {
  top:15px
}


.gebarenlijst {
text-align: center;
padding: 20px 0 0 0;

}

.gebarenlijst img {
//clip-path: circle(100px at center);
width: 140px;
height: auto;
-webkit-transform: translate(-23px,0);
transform: translate(-23px,0);
overflow: hidden;
margin-bottom: -15px
}

.x-dock.x-sized > .x-dock-body > .x-body > .x-inner { 
  top: 20px !important
}

.x-list .x-list-item {
display:inline-block;
  margin: 2px;
  width: 100px;
  height: 100px;
  border: 1px solid #fff !important;
//  border-radius: 5px;
  text-align: center;
// Android list font 0.1 groter gemaakt
  font-size: 1.1em;
}

.x-list .x-list-item.x-list-item-tpl .x-innerhtml {
  overflow: hidden;
  padding: 0
}

.listbuybutton {
  width: 308px;
  height: 85px;
  background-image: url('../images/listbuybutton.svg') !important;
  background-repeat: no-repeat !important;
  margin:0 auto;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding:0 0 11px 210px;
}
.restorebutton {
  width: 308px;
  height: 85px;
  background-image: url('../images/restorebutton.svg') !important;
  background-repeat: no-repeat !important;
  margin:0 auto;
  border: none;
  font-size: 15px;
  padding:0 0 11px 210px;
}


//-------------------------------------------- INFO-------------------------------

.infoscreen {
 background: #ffffff;
 background-image: url('../images/infobackgr.svg') !important;
background-size: auto 100% !important;
}

h3 {margin:0; padding: 10px 0 10px 0; font-size: 1.4em !important} 

h4 {color: #A9D1BC !important; font-size: 1em !important; text-align: center} 

.x-html {
  padding: 20px 5px 0 5px !important
}

.infotext {
  line-height: 1.6 !important;
  color: #54c2c2;
  font-size: 1.2em !important;
  padding: 0 5% !important
//  font-family: 'Helvetica Neue'
}

//-------------------------------------------- BUTTONS -------------------------------------------
.x-msgbox-buttons .x-button-label {
  visibility: hidden;
}

.x-msgbox-buttons .x-button-label:after {
  content: 'continue >'; 
  visibility: visible;
  text-indent: 0;
  margin-left:-40px !important;
}

.closebutton {
  width: 40px;
  height: 40px;
  display:block;
  position:absolute;
  top:-20px;
  right: -20px;
  background-image: url("../images/closebutton.svg") !important;
  background-size: 40px auto;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border: 0px none !important
}

.homebutton {
  height: 100%;
  width: 100px !important
}

.audioButton {
background-image: url("../images/audio.svg") !important;
background-size: 60px auto;
background-position: center bottom !important;
background-repeat: no-repeat !important;
border: 0px none !important;
width:300px;
padding: 0px 0px 60px !important;
font-size: 1.3em;
margin-top:-10px;
z-index: 4
}

.x-button-icon .x-shown menu .x-button-label {
  color: #fff !important;  
  letter-spacing: 1px !important;
  text-align: left !important;
  font-family: Helvetica Neue 
}

.x-button-label {
color: #fff;
// padding: 0 0 15px 0;
}

.backButton  {
  background-image: url('../images/previous.svg') !important;
  background-size: 58px;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
 height: 60px;
   width: 60px;
   margin: -40px 0 0 10px;
    border: none;
    z-index: 4
}
.backListButton  {
  background-image: url('../images/back.svg') !important;
  background-size: 58px;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
 height: 60px;
   width: 60px;
   margin: 40px 0 0 10px;
    border: none;
    z-index: 4;
    position: absolute;
}

.nextButton  {
  background-image: url('../images/next.svg') !important;
  background-size: 58px;
  background-position: 0 0 !important;
  background-repeat: no-repeat !important;
 height: 60px;
  width: 60px;
   margin: -40px 10px 0 0;
    border: none;
    z-index: 4
}

.again {
     background-image: url('../images/quizreplay.svg')!important;
     background-position: center center;
     background-size: 60px;
   background-repeat: no-repeat;
//   width: 200px !important;
   height: 80px !important; 
   border: 0 !important;
    font-size: 2em;
    margin: 0 auto
}


//.quizresultbuybutton {
//  width: 768px;
//  height: 285px;
//  background-image: url('../images/logos.png') !important;
//  background-repeat: no-repeat !important;
//  margin:0 auto;
//  border: none;
//  font-size: 15px;
//  padding:0 0 11px 0px;
//}

//.restoreButton {
//    background-image: url('../images/restorebutton.svg') !important;
//      width: 308px;
//  height: 85px;
//  background-repeat: no-repeat !important;
//  margin:0 auto;
//  border: none;
//  font-size: 15px;
//    padding:6px 0 11px 5px;
//}

.fingerspellingscreen {
background-image: url('../images/fingerspellingbg.svg') !important;
background-color: #7bcdcb!important;
background-size: cover !important;
  padding-top: 50px 
}

//-------------------------------------------- PLAY / QUIZ -------------------------------------
.quizbackground {
  background-image: url('../images/quizbackground.svg') !important;
  background-color: #65bcab !important;
background-size: auto 100% !important
}

.quizTitle {
  font-size: 1.4em;
  background-color: transparent;
  border: none !important;
  color: #fff;
  padding: 25px 25px 0 25px
}

.centerQuizOptions {
text-align: center !important;
}

.x-dataview-item {
    display: -webkit-inline-box;
    margin: 3px;
    width: 100px;
    height: 102px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 1.1em;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    vertical-align: top!important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
   line-height: 1.5;
}

.x-dataview-item:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
}


.x-dataview-item img {
width: 140px;
height: auto;
-webkit-transform: translate(-23px,0);
transform: translate(-23px,0);
overflow: hidden;
margin-bottom: -15px
}

.x-msgbox {
height: 400px;
border: medium none;
background-color: #0990D3;
border-radius: 10px;
color: #DDE4CE
}


.x-button {
    background-color: transparent !important;
//    margin: 10px 5px 0 5px;
//    margin: 0;
    font-size: 30px;
    border-radius: 5px
}


.x-panel.x-floating .x-panel-inner {
  background-color: transparent
}

.x-msgbox-buttons .x-button {
width: 100%;
background-color: #ea5f72 !important;
height: 70px !important;
// color: #dde5ce;
border-radius: 10px
}


.resulttext {
  font-size: 1.7em;
  text-align: center !important
}

.resulttext img {
  margin: 7px auto
}


.quizresult {
  width: 300px;
  height:60px;
  margin: 10px auto;
}

.resultcount0 {
  background-image: url('../images/quizscore0.svg') !important
}

.resultcount1 {
  background-image: url('../images/quizscore1.svg') !important
}

.resultcount2 {
  background-image: url('../images/quizscore2.svg') !important
}

.resultcount3 {
  background-image: url('../images/quizscore3.svg') !important
}

.resultcount4 {
  background-image: url('../images/quizscore4.svg') !important
}

.resultcount5 {
  background-image: url('../images/quizscore5.svg') !important
}

.quizcounter{
 width: 63px;
 height: 35px;
 float: right;
 background-position: center center !important;
 background-repeat: no-repeat !important
}

.count1 {
 background-image: url('../images/count1.png') !important
}

.count2 {
 background-image: url('../images/count2.png') !important
}

.count3 {
 background-image: url('../images/count3.png') !important
}

.count4 {
 background-image: url('../images/count4.png') !important
}

.count5 {
 background-image: url('../images/count5.png') !important
}

.videoPlayButtonquiz {
   background-image: url('../images/playbutton2.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center;
  background-size:cover !important
}


// -------------------------------------------.parental gate -------------------------------------------


.parentalgate {
width: 280px;
height: 400px;
border: medium none;
background-color: #0990D3 !important;
  background-image: url('../images/parentalgate.svg') !important;
  background-repeat: no-repeat !important;
border-radius: 10px;
padding: 25px !important;
text-align: center;
padding: 0 10px;
margin: 5px
}

span.number {
  background-color: #d29f1c;
  margin: 0 10px;
  padding: 0 10px;
  font-size: 22px;

  &.active {
    opacity: 0.5;
  }
}


.enterthenumbers {
margin: 75px 0 20px 0;
}

.parentalgate .x-button {
    background-color: transparent !important;
    margin: 10px 5px 0 5px;
    font-size: 30px;
    border-radius: 5px
}



//-------------------------------------------- VIDEO -------------------------------------------


.x-button {
background-color: transparent !important;
border: none;
}

.x-layout-card-item {
  background: transparent
}

.videoPlayButton {
   background-image: url('../images/playbutton.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center;
    background-size:cover !important
}

video {
 width: 100% !important;
 height: auto !important;
 -webkit-animation: fadein 0.3s ease-in !important;
 bottom: 0 !important
}

//-------------------------------------------- ANIMATION -------------------------------------------

  
.fade-in {-webkit-animation: fadein .3s;}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

//@-webkit-keyframes fadeout {
//    from { opacity: 1; }
//    to   { opacity: 0; }
//}



//.swipe-animation {-webkit-animation: swipeanimation 1s steps(30) 4 alternate; width: 86px; height: 103px; float: right;}
//@-webkit-keyframes swipeanimation {
//  -webkit-animation-timing-function: linear;
//   0% {padding-left:0;}
//   100% {padding-left:70px;}
//}

//-------------------------------------------- Bottom menu bar -------------------------------------------   

.x-tabbar-dark.x-docked-bottom .x-tab-active {
background-image: none !important;
background-color: transparent !important;
}

.x-tabbar.x-docked-bottom {
 border-top-width: 0px !important;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
   font-size: 1.3em;
  height: 1.2em
}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
width: 3em;

}

.x-img.x-img-background {
  background-position: center top;
  background-size: 100% auto;
}

.x-tabbar-dark {
  border-top-color: #EA5F72 !important; 
  border-bottom-color: #EA5F72 !important; 
  background-image: #EA5F72 !important; 
  background-color: #EA5F72 !important;
}

.x-tabbar-dark .x-tab {
    color: #fff !important;
  }

.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before {
    color: #ffffff;
}

//.mask {
//-webkit-mask-box-image: url('../images/mask.png') !important;
//height: 432px !important;
//   }
//-------------------------------------------- NAVIGATION ICONS -------------------------------------------

@include icon-font('icomoon', inline-font-files ('../fonts/icomoon.ttf'));
@include icon("menu", "\e903", "icomoon");

//-------------------------------------------- Tablets: iPad and Nexus 7 -------------------------------------------

@media (min-width:600px) {


  .x-dataview-item {
  margin: 10px;
  width: 150px;
  height: 150px;
  font-size: 1.3em;
}

.x-dataview-item img {
    width: 190px;
}  
    
  }

//-------------------------------------------- iPad and bigger Androids screens specific -------------------------------------------

 
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  /* Styles */

//video {
// width: 768px !important;
// height: 432px !important;
//}

.x-button {
font-size: 40px;
// margin: 0px 5px -15px 5px !important;
}


.again {
 background-size: 80px auto;
 margin-top: 20px  
}

.videoborderoverlay {
  width: 768px;
  height: 5px;
  background-color: #7bcdcb;
  position: absolute;
  bottom: 430px;
  z-index: 2
}

.quizvideoborderoverlay1 {
  width: 768px;
  height: 5px;
  background-color: #7bcdcb;
  position: absolute;
  top: 60px;
  z-index: 3
}

.quizvideoborderoverlay2 {
  width: 768px;
  height: 5px;
  background-color: #7bcdcb;
  position: absolute;
  top: 490px;
  z-index: 3
}


.resulttext {
 margin-top: 100px;
}

.resulttext img {
  margin: 30px 0
}
//.audioButton {
//  margin-top: -50px;
//  font-size: 1.5em;
//  padding: 0px 0px 55px !important;
//}

.quizTitle {
  font-size: 2em
}

} 


//-------------------------------------------- iPhone 6+ specific -------------------------------------------

@media screen and (min-device-width: 414px) and (max-device-width : 767px) {

//video {
// width: 414px !important;
// height: 233px !important;
//}

.videoborderoverlay {
  width: 414px;
  height: 5px;
  background-color: #7bcdcb;
  position: absolute;
  bottom: 232px;
  z-index: 2
}

.quizvideoborderoverlay1 {
  width: 414px;
  height: 4px;
  background-color: #7bcdcb;
//  background-color: red;
  position: absolute;
  top: 122px;
  z-index: 2
}
.quizvideoborderoverlay2 {
  width: 414px;
  height: 5px;
  background-color: #7bcdcb;
//  background-color: red;
  position: absolute;
  top: 354px;
  z-index: 2
}

.again {
 background-size: 80px auto;
 margin-top: 20px  
}

.resulttext {
 margin-top: 100px;
}

.resulttext img {
  margin: 20px 0
}

 
}


//-------------------------------------------- iPhone 6 specific -------------------------------------------

@media screen and (min-device-width: 375px) and (max-device-width : 376px) {
  
//video {
// width: 375px !important;
// height: 211px !important;
//}

.videoborderoverlay {
  width: 375px;
  height: 5px;
  background-color: #7bcdcb;
  position: absolute;
  bottom: 209px;
  z-index: 2
}

.quizvideoborderoverlay1 {
  width: 375px;
  height: 4px;
  background-color: #7bcdcb;
//  background-color: red;
  position: absolute;
  top: 90px;
  z-index: 2
}
.quizvideoborderoverlay2 {
  width: 375px;
  height: 5px;
  background-color: #7bcdcb;
//  background-color: red;
  position: absolute;
  top: 301px;
  z-index: 2
} 

.again {
 background-size: 80px auto;
 margin-top: 20px  
}

.resulttext {
 margin-top: 50px;
}

.resulttext img {
  margin: 20px 0
}

.x-button {
//font-size: 40px;
// margin: 0px !important;
}

}


//-------------------------------------------- iPhone 2,3,4,5 specific -------------------------------------------

@media screen and (min-device-width: 320px) and (max-device-width : 321px) {


.videoborderoverlay {
  width: 320px;
  height: 5px;
  background-color: #7bcdcb;
  position: absolute;
  bottom: 179px;
  z-index: 2
}
}

//-------------------------------------------- iPhone 2,3,4, NOT 5 specific -------------------------------------------

@media screen and (min-device-height: 480px) and (max-device-height : 481px) {

//video {
// width: 320px !important;
// height: 180px !important;
//}

.gebarendetail {
// background-color: #7bcdcb !important;
// background-image: url('../images/textballoon.svg'), url('../images/rainbow.svg') !important;
 background-position: center top, center bottom !important
//background-repeat: no-repeat !important
}

.listdetailimage {
  top:0
}
  
.resulttext {
 font-size: 1em
}

.quizTitle {
    font-size: 1.2em
}
.quizvideoborderoverlay1 {
  width: 320px;
  height: 4px;
//  background-color: #7bcdcb;
  background-color: #7bcdcb;
  position: absolute;
  top: 21px;
  z-index: 2
}
.quizvideoborderoverlay2 {
  width: 320px;
  height: 4px;
//  background-color: #7bcdcb;
  background-color: #7bcdcb;
  position: absolute;
  top: 201px;
  z-index: 2
}
.backButton  {
   margin: -60px 0 0 10px;
}


.nextButton  {
   margin: -60px 10px 0 0;
}

.audioButton {
  margin-top: -15px;
}


}

//-------------------------------------------- iPhone 5 specific -------------------------------------------  

@media screen and (min-device-height: 567px) and (max-device-height : 569px) {
 
//video {
// width: 320px !important;
// height: 180px !important;
//}
  
.quizvideoborderoverlay1 {
  width: 320px;
  height: 4px;
  background-color: #7bcdcb;
  position: absolute;
  top: 66px;
  z-index: 2
}
.quizvideoborderoverlay2 {
  width: 320px;
  height: 4px;
  background-color: #7bcdcb;
  position: absolute;
  top: 246px;
  z-index: 2
}
}